<div style="display: flex;    left: 0;  flex-direction: column;">
  <div style="width: 100%; background-color: #1F184B; min-height: 80px; display: flex; align-items: center">
    <div style="    margin-left: 20px;">
      <img src="./assets/bionutrec/imagotipoBionutrec1_white.svg" style="width: 212px; height: 40px;">
    </div>
  </div>
  <div style="display: flex; height: 818px; left: 0;">
    <a href="inicio/selecpreguntas">
    <div  style="background-color: #fc504e; width: 80px; height: 818px; ">

    </div>
    </a>
    <div
      style="width: calc(100% - 39px); height: 100%;  display: flex; flex-direction: column; justify-content: space-between;">
      <div>
        <div style="text-align: end; padding-right: 10px;">
          <img src="./assets/bionutrec/logoInmufort.svg" style="  width: 212px; height: 28px; margin-top: 10px;">
        </div>
        <div style=" text-align: center; margin-top: 20px; margin-bottom: 10px">
          <div>
            <span style="font-size: 48px;"><strong><span style="color:#1F184B">BIONU</span><span
                  style="color:#FF8600">Trivia</span></strong></span>
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
          <div style="width: 50%; text-align: center;">
            <span style="font-size: 30px; color: #1f184b; font-weight: 300;"><strong>SELECCIONE EL MODO DE
                JUEGO</strong></span>
          </div>
        </div>
        <div style="margin-top: 30px;">
          <div style="display: flex; justify-content: center;">
            <div class="form-check" style="width: 60%">
              <input class="form-check-input" type="radio" [(ngModel)]="flexRadioDefault1" value="1" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                <strong style="font-size: 26px; color: #BBB;"> Prueba de Conocimiento</strong>
              </label>
              <p style="font-size: 24px; color: #575757;">En este modo contestas todas las preguntas y recibes un
                puntaje</p>
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 10px;">
          <div class="form-check" style="width: 60%">
            <input class="form-check-input" type="radio" [(ngModel)]="flexRadioDefault1" value="0" name="flexRadioDefault" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault2">
              <strong style="font-size: 26px; color: #BBB;"> Eliminacion Directa</strong>
            </label>
            <p style="font-size: 24px; color: #575757;">En este modo quedaras fuera si fallas tu respuesta</p>
          </div>
        </div>
        <div style="">
          <div style="text-align: center;">
            <span> <a href="#/inicio/juego" (click)="forward($event)"  style="  color: #1f184b; font-size: 28px; letter-spacing: 0px;"> CONTINUAR
              <!-- <span> <a href="#/inicio/felicidades" (click)="forward($event)"  style="  color: #1f184b; font-size: 28px; letter-spacing: 0px;"> CONTINUAR -->
                <img src="./assets/flor1Bionutrec.svg" width="80"></a></span>
          </div>
        </div>
      </div>

      <div style=" display: flex; justify-content: flex-end;">
        <div style="width: 65%;">
          <img src="./assets/bionutrec/inmufortKidsDrawing01.svg" style="width: 100%;">
        </div>
      </div>

    </div>
  </div>
</div>